
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

/*nav*/ 

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 1;
    background-color: aquamarine;
}

.nav_container {
    height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem
}

/*chan nav bar using javascripts*/

 .window-scroll {
     background-color: blueviolet;
     box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
 }
 .nav_menu a {
    font-size: 0.9rem;
    color: #000;
    font-weight: bold;
}
.nav_menu a:hover {
    color: brown;
    transition: all 400ms ease;
}

img {
     width: 100%;
     display: block;
     object-fit: cover;
 }

.btn {
     color: #000;
     background-color: chocolate;
     display: inline-block;
     padding: 1rem 2rem;
     border: 1px solid transparent;
     font-weight: 500;
 }

.btn:hover {
     background: transparent;
     color: #000;
     border-color: chocolate;
 }

.btn-primary {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn-primary:hover {
    background: transparent;
    color: #000;
    border-color: #00C8C8;
}

button {
    display: none;
}


/*header*/
.header_container {
    display: flex;
    margin-top: 5rem;
}


/*categories*/

.categories {
    background-color: aqua;
    display: flex;
}

.category {
    padding: 2rem;
    border-radius: 2rem;
    background-color: #00C8C8;  
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.catigories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container {
    display: grid;
    grid-template-columns: 35% 60%;
    margin-top: 1rem;
}

.categories_left {
    margin-right: 1rem;
}

.categories_left p {
    margin: 1rem 0 3rem;
}
.categories_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.category_icon {
    background-color: aqua;
    border-radius: 0.9rem;
    padding: 0.5rem;
}

.category:nth-child(4) .category_icon {
    background-color: crimson;
}


.category h5 {
    margin: 1rem 0 1rem;
}
.category h5:hover {
    color: brown;
}
.category p {
    
}

/*course*/


.courses {
    margin-top: 10rem;
    text-align: center;
    background-color: aqua;
}
.courses h2 {
    margin-bottom: 2rem;
}
.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background-color: transparent;
    text-align: center;
    border: 1px solid #00C8C8;
}
.course:hover {
    background-color: #00C8C8;
    text-align: center;
}
.courses_info {
    padding: 2rem;
}

.courses_info p {
    margin: 1.2rem 0 1rem;
    font-size: 0.9rem;
}


/*faq*/

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}


.faq {
    background-color: #00C8C8;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
}

.faq h2 {
    margin-bottom: 2rem;
}
.faqs {
    padding: 2rem;
    display: flex;
    text-align: center;
    background-color: rgb(10, 143, 98);

}

.question_answer h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}
.question_answer p {
    font-weight: 500;
    font-size: 1rem;
    display: none;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faqs.open p {
    display: block;
}


/*testimonials*/


.testimonials_container {
    overflow-x: hidden;
   position: relative;
    margin-bottom: 5rem;
    display: block;
    text-align: center;
}


.testimonials_container h2{
    font-weight: bold;
}

.testimonial {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid #00C8C8;
    position: relative;
}


.testimonial_info {
    text-align: center;
}
.testimonial_body {
    background-color: #0a8f62;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testimonial_body::before {
    content:"";
    display: block;
    background: linear-gradient(135deg,transparent, #0a8f62, #0a8f62);
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top : -1.5rem;
    transform: rotate(45deg);
}

/*footer*/

footer {
    background-color: aquamarine;
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer_container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.footer_container > div h4 {
    margin-bottom: 1rem;
}
.footer_1 p {
    margin:  0 0 2rem;
}

footer ul li {
margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer_socials {
    display: flex;
    gap: 1.2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.footer_copyright {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
}


@media screen and (max-width: 768px) {

.container {
    width: 90%;
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}

/*nav bar*/
nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

nav button.close-menu-btn {
    display: none;
}

.nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 6rem;
    flex-direction: column;
    gap:0;
    display: none;
}
.nav_menu li {
    width: 100%;
    height: 2rem;
    animation: animateNavItems 300ms linear forwards;
    transform-origin: top right;
    opacity: 0;
}

.nav_menu li:nth-child(2) {
    animation-delay: 200ms;

}

.nav_menu li:nth-child(3) {
    animation-delay: 300ms;

}

.nav_menu li:nth-child(4) {
    animation-delay: 600ms;

}

@keyframes animateNavItems {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
    
}


.nav_menu li a {
    background-color: #0a8f62;
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    display: grid;
    place-items: center;
}

.nav_menu li a:hover {
    background-color: #00C8C8;
    color: #fff;
}

/*header*/ 

header {
    height: 52vh;
    margin-bottom: 4rem;
}
.header_container {
    gap: 0;
    padding-bottom: 3rem;
}

/* categories  */

.categories {
    height: auto;

}

.categories_container {
    grid-template-columns: 1fr;
    gap: 3rem;
}
.categories_left {
    margin-right: 0;
}

.categories_right {
    grid-template-columns: 1fr;
}

/*our popular*/

.courses {
    height: auto;
}

.courses_container {
    grid-template-columns: 1fr;
}


/*footer*/

.footer {
    height: auto;
    gap: 1rem;
}
.footer_container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
}

.footer_socials {
    display: block;

}


}
